<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrl-Integrated-4.0" />
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
            <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TransferRequestHandler" resourceType="File" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="5" path=".*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <staticContent>
            <remove fileExtension=".sh" />
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".sh" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
